@import 'libs/bootstrap-reboot.min';
//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800;900&display=swap');

@import 'blocks/main';
@import 'blocks/nav';
@import 'blocks/buttons';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/design';
@import 'blocks/media';

* {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  padding: 0;
}
@font-face {
  font-family: 'Poppins'; 
  src: url(../assets/fonts/Poppins-Bold.ttf); 
 }
 @font-face {
  font-family: 'Poppins-ExtraBold'; 
  src: url(../assets/fonts/Poppins-ExtraBold.ttf); 
 }
 @font-face {
  font-family: 'Poppins-Black'; 
  src: url(../assets/fonts/Poppins-Black.ttf); 
 }
 @font-face {
  font-family: 'MyriadPro'; 
  src: url(../assets/fonts/MyriadPro-Regular.otf); 
 }