.design_1 {
  margin-top: 4.5rem;
  margin-right: 16.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .circle {
    width: 73px;
    height: 73px;
    margin-right: 15.5rem;
    img {
      width: 100%;
    }
  }
  .crosses {
    width:314px;
    img {
      width: 100%;
    }
  }
}
.design_2 {
  margin-right: 20rem;
  display: flex;
  flex-direction: row-reverse;
  .circle {
    width: 7.5rem;
    img {
      width: 100%;
    }
  }
}