footer {
  display:flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  
  }
.social-media ul {
  position: relative;
  left: 22rem;
  margin-top: 4.7rem;
  margin-left: 3.5rem;
  list-style-type: none;
  display:flex;
  justify-content:space-around;
 
  li {
    width: 73px;
    cursor:pointer;
    &:hover {
      filter: invert(15%) sepia(100%) saturate(5130%) hue-rotate(334deg) brightness(88%) contrast(104%);
    }
  }
}