:root {
  --font-normal:  'Poppins';
  --font-bold:    "Poppins-Black";
  --font-extra-bold: "Poppins-ExtraBold";
  --color-dark:  #000928;
  --color-light: #ffffff;
  --color-blue: #2372d5;
  --color-red: rgb(163 0 0 / 50%);
  --color-darkgray: rgb(169, 169, 169);
  --color-lightgray: rgb(211, 211, 211);
  --shadow: rgba(0, 0, 0, 0.25);
  --shadow-modal: rgba(0, 0, 0, 0.5);
  --font-size-a: 23px;
  --font-size-form: 24px;
  --font-size-modal: 24px;
  --font-size-h1: 142px;
  --font-size-main-description: 30px;
}

body {
  display: flex;
  flex-direction: row;
  background-image: url(./../assets/Corner.svg);
  background-repeat: no-repeat;
  background-position: right -50% top -313%;
  background-size: 49%;
  background-image:  url(./../assets/Dots.svg), url(./../assets/Triangle.svg);
  background-repeat:  no-repeat, no-repeat;
  background-position: top 168% left 47%,left 465% top 235%;
  background-size: 50%,109%;
}
header {
  width: 100%;
  display: flex;
}
main {
  position: relative;
  z-index: 2;
  margin-right: 0;
  left: -9rem;

  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  // background-image:  url(./../assets/Dots.svg), url(./../assets/Triangle.svg);
  // background-repeat:  no-repeat, no-repeat;
  // background-position: top 168% left 47%,left 465% top 235%;
  // background-size: 50%,109%;
}
aside {
  position: relative;
  z-index: 5;
  height: 100vh;
  width: 759px;
  margin-left: 0;
  img {
    position: relative;
    z-index: 10;
    width: 136%;
    left: -16.5rem;
  }
  // background-image: url(./../assets/aside.webp);
  // background-repeat: no-repeat;
  // background-position: left 96% bottom;
  // background-size: cover;
  
  .logo {
    position: absolute;
    top: 4rem;
    left: 6rem;
    width: 150px;
    img {
      width: 100%;
    }
  }
  
}
section {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  h1 {
    margin-top: 4rem;
    width: 754px;
    height: 223px;
    color: var(--color-dark);
    font-family: var(--font-bold);
    font-size: var(--font-size-h1);
    font-weight: 900;
    line-height: 139px;
    text-align: left;
    text-transform: uppercase;
  }
  .description {
    margin-top: 3.3rem;
    width: 976px;
    height: 100px;
    overflow-y: hidden;
    color: var(--color-dark);
    font-family: var(--font-normal);
    font-size: var(--font-size-main-description);
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 90.84px;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
  }
}

.print-only {
  display: none !important;
}
