:root {
  --font-normal:  'Poppins';
  --font-bold:    "Poppins-Black";
  --font-extra-bold: "Poppins-ExtraBold";
  --font-for-form: "MyriadPro";
  --color-dark:  #000928;
  --color-light: #ffffff;
  --color-blue: #2372d5;
  --color-red: rgb(163 0 0 / 50%);
  --color-darkgray: rgb(169, 169, 169);
  --color-lightgray: rgb(211, 211, 211);
  --shadow: rgba(0, 0, 0, 0.25);
  --shadow-modal: rgba(0, 0, 0, 0.5);
  --font-size-a: 23px;
  --font-size-form: 24px;
  --font-size-modal: 24px;
  --font-size-h1: 142px;
  --font-size-main-description: 30px;
}

body {
  margin:0 auto;
  display: flex;
  flex-direction: row;
  background-image: url(./../assets/Corner.svg),  url(./../assets/Dots.svg), url(./../assets/Triangle.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 171% top 664%,top 375% left 69%, right top -126%;
  background-size: 60%,43%,100%;
}
header {
  width: 100%;
  display: flex;
}
main {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}
aside {
  margin-left: 0;
  height: 100vh;
  width: 755px;
  background-image: url(./../assets/aside.webp);
  background-repeat: no-repeat;
  background-position: left 95% bottom;
  background-size: cover;
  
  .logo {
    position: absolute;
    top: 4rem;
    left: 6rem;
    width: 157px;
    img {
      width: 100%;
    }
  }
  
}
section {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  h1 {
    margin-top: 3.7rem;
    margin-left: -6rem;
    width: 754px;
    height: 223px;
    color: var(--color-dark);
    font-family: var(--font-bold);
    font-size: var(--font-size-h1);
    font-weight: 900;
    line-height: 139px;
    text-align: left;
    text-transform: uppercase;
  }
  .description {
    position: relative;
    left: -5rem;
    margin-top: 3.5rem;
    width: 983px;
    height: 100px;
    overflow-y: hidden;
    color: var(--color-dark);
    font-family: var(--font-normal);
    font-size: var(--font-size-main-description);
    font-weight: 400;
    line-height: 3rem;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.02rem;
    
  }
}

.print-only {
  display: none !important;
}