@media screen and (max-width:1080px) and (orientation:portrait) {
  body {
    flex-direction: column;
    background-position: top 64% left 171%, top 134% left, top 129% right -100% ;
    background-size: 60%,67%,117%;
  }
  aside {
    width: 100vw;
    height: 51vh;
    background-position: right top;
  }
  .logo {
    position: relative;
    top: 4rem;
    left: 6rem;
  }
  nav {
    margin-top: -7rem;
    margin-left: 4rem;
    
  .navbar {
    margin-right: 7rem;
    gap: 2.5rem;
      a {
      color: var(--color-light);
    }
  }
  .hamburger {
    span {
      background-color: var(--color-light);
    }
  }
  }
 
  .social-media {
    ul {
      margin-left: -3.5rem;
    }
  }
  section {
    h1 {
      margin-left: 0;
    }
    .description,
    .button {
      left: 0;
    }
  }
  .design_1 {
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 446px) and (orientation:portrait) {
  body {
    background-position: top 46% left 171%,top 162% left 52%,top 164% right -100%;
  }
  aside {
    height: 41vh;
    background-image: url(./../assets/aside-min.webp);
    .logo {
      top: 1.2rem;
      width: 100px;
      left: 2rem;
    }
    }
  main {
    width: 100%;
    header {
      top: 0;
      nav {
        margin-top: -9rem;
        margin-left: 0rem;
        flex-direction: column;
        justify-content: space-between;
       .navbar {
          margin-right: -1rem;
          gap: 0rem;
          flex-direction: column;
          justify-content: center;
          a {
            font-size: var( --font-size-a-small);
          }
        }
    }
    .hamburger {
      width:31px;
      height: 31px;
      span {
        height: 5px;
      }
    }
  }
    section {
      margin-left: 0;
      h1 {
        font-size: var(--font-size-h1-min);
        line-height: unset;
        margin-top: unset;
        width: unset;
        height: unset;
      }
      .description {
        font-size: var(--font-size-main-description-min);
        line-height: unset;
        margin-top: unset;
        width: 315px;
        height: 45px;
      }
      .button {
        margin-top: 0;
        width: 155px;
        margin-top: 1;
        height: 43px;
        a {
          font-size: var( --font-size-a-small);
        }
        
        }
    }
    .design_1 {
      margin: 1.5rem 0 0 0;
      align-items: flex-start;
      .circle {
        width:35px;
        margin-right: 5rem;
        height: unset;
      }
      .crosses {
        width: 163px;
      }
    }
    .design_2 {
      width: 40%;
      margin: 0 0 0 11rem;
      .circle {
        width:3.5rem;
      }
    }
    footer {
      margin: 1.5rem 0 0 0;
      flex-direction: column;
      .social-media {
        margin: 0;
      
      ul {
        margin-left: unset;
        margin-top: unset;
        left: 0rem;
        width: fit-content;
        li {
          margin: 0 0 0 0;
        }
      }
      }
    }
}
.modal-content {
  width: 19rem;
  height: 21rem;
  .modal-header {
    height: 5rem;
    .envelope {
      left: 6rem;
     width: 105px;
    }
    .close-button{
      width:1.5rem
    }
  }
  form {
    margin-left: 0;
    padding: 0.5rem 1rem 0 1rem;
    font-size: var(--font-size-a-small);
    .count {
      margin-left: 11rem;
    }
    #number {
      height: 2rem;
      margin-bottom: 0.5rem;
    }
    #text {
      height: 7rem;
    }
  }
}
}

@media screen and (max-width:1024px) and (orientation: landscape){
 
  body {
    background-position: left 149% top -38%,top 130% left 69%,right top 285%;
    background-size: 42%,24%,83%;
    
  }
  main {
    width: 50%;
    margin: 0;
    .design_1{
      margin-top: 1.5rem;
      margin-right: 0rem;
      .circle{
        margin-right: 7.5rem;
        margin-top: 1.5rem;
        width: 55px;
      }
      .crosses {
        width: 276px;
      }
    }
    h1 {
      margin-top: 1rem;
      height: 185px;
      font-size: 90px;
      width: 100%;
      line-height: 100px;
      margin-left: 1rem;
    }
    .description {
      margin-top: 0rem;
      left: 0;
      width: 517px;
      height: 85px;
      font-size: 24px;
    }
    .button {
      margin-top: 2rem;
      left: 1rem;
     
    }
    .design_2{
      margin-right: 8rem;
      .circle {
        width: 4.5rem;
      }
    }
    .social-media ul {
      left: 6rem;
      margin-top: 1.7rem;
    }
  }
  aside {
    width: 40%;
  }
  nav {
    margin-top: 2rem;
    .navbar {
      margin-right: 3rem;
      gap: 1.5rem;
      height: 14px;
      a {
        font-size: 20px;
        line-height: 20px;
       }
    }
  }
  .modal-content {
    top:6%;
    width: 46rem;
    height: 41rem;
    .modal-header{
      height: 8rem;
      .envelope {
        width: 138px;
      }
    }

  }
}